.background
{
    background-color: LightGray;
}

.spacing
{
    text-align: center;
    margin: 50px 50px 10px;
}

.price_spacing
{
    text-align: center;
    margin: 1px 50px 50px;
}

.center
{
    text-align: center;
    margin: 50px 50px 75px;
    font-size: 75px;
}

.info_center
{
    text-align: center;
    margin-top: 250px;
    font-size: 25px;
}

.button_text_color
{
    color: black;
}

span.a {
    display: inline-block;
    width: 550px;
    color: white;
}

span.b {
    display: inline-block;
}

.podcast
{
    margin-top: 200px;
}